h1{color:brown;text-align:center;}
a{
    color:green;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
#spécial{
    background-color: black;color:white;
}
#Anais{background-color: blueviolet;color:black;}
a:hover{text-decoration:none;}
.h1{margin-left:0;}